<div class="container mt-4">
  <h2>Login</h2>
  <p *ngIf="error !== null" [ngStyle]="{'color':'red'}" > {{error}}</p>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" class="form-control">

    </div>
    <div class="form-group mt-3">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary mt-3" [disabled]="!loginForm.valid">Login</button>
  </form>
</div>
